<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true" *ngFor="let opcion of opcionesMenu">
          <ion-item
            button
            detail="false"
            [routerLink]="opcion.ruta"
            routerLinkActive="opcion-activa"
          >
            <ion-label>{{ opcion.titulo }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>